
@keyframes scaleIn {
  from { transform: scaleY(0);  }
  to { transform: scaleY(1); }
}

@keyframes scaleInX {
  from { transform: scaleX(0);  }
  to { transform: scaleX(1); }
}

@keyframes rumble {
  25% {transform: translate(3px, 0px);}
  50% {transform: translate(0px, -3px);}
  75% {transform: translate(-3px, 0px);}
  500% {transform: translate(0px, 3px);}
}

@keyframes lift {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-7px);}
  100% {transform: translateY(0px);}
}

@keyframes miniLift {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-2px);}
  100% {transform: translateY(0px);}
}

@keyframes floaty {
  0% {transform: rotate(0deg) translateX(0px) rotate(0deg); }
  25% {transform: rotate(180deg) translateX(3px) rotate(-180deg); }
  50% {transform: rotate(360deg) translateX(6px) rotate(-360deg); }
  75% {transform: rotate(540deg) translateX(3px) rotate(-540deg); }
  100% {transform: rotate(720deg) translateX(0px) rotate(-720deg); }
}

@keyframes flip {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}
