.box-container {
  padding: 0 1em .7em 1em;
  border: 2px solid var(--black);
  box-shadow: 10px 15px 0 var(--black);
  margin-right: 10px;
  margin-bottom: 2em;
  height: min-content;
  background-color: var(--white);
}

.box-heading {
  color: var(--black);
  text-align: center;
  padding: 0.5rem;
  border-bottom: 2px solid var(--black);
}
