.box-container {
  padding: 0 1.2em .9em 1.2em;
  border: 2px solid var(--black-light);
  box-shadow: 10px 10px 0 var(--black-light);
  margin-right: 10px;
  margin-bottom: 2em;
  height: min-content;
  background-color: var(--white);
  transition: 0.1s ease-in-out;
}

.box-heading {
  color: var(--black);
  text-align: center;
  padding: 0.5rem;
  border-bottom: 2px solid var(--black);
  transition: 0.1s ease-in-out;
}

.box-enthusiastic{
  border: 2px solid var(--enthusiastic-light);
  box-shadow: 10px 10px 0 var(--enthusiastic-light);
}
.box-curious{
  border: 2px solid var(--curious-light);
  box-shadow: 10px 10px 0 var(--curious-light);
}
.box-openminded{
  border: 2px solid var(--openminded-light);
  box-shadow: 10px 10px 0 var(--openminded-light);
}
.box-enthusiastic .box-heading {
  border-bottom: 2px solid var(--enthusiastic-light);
}
.box-curious .box-heading {
  border-bottom: 2px solid var(--curious-light);
}
.box-openminded .box-heading {
  border-bottom: 2px solid var(--openminded-light);
}
