button {
  text-align: left;
  background-color: unset;
  border: 0;
  outline: 0;
  padding: 0;
}

.header-link {
  text-decoration: none;
  width: fit-content;
  display: inline-block;
}
.header-link:hover {
  color: inherit;
}

.header-buttons {
  background-color: var(--white);
  z-index: 1000;
  min-width: 172px;
  position: sticky;
  top: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-social a {
 margin-left: 1rem;
 border: 0;
}

a:first-of-type {
  margin-left: 0;
}

.header-mood {
  display: flex;
  flex-flow: row nowrap;
}

.header-mood > .default-mood,
.curious-mood,
.openminded-mood,
.enthusiastic-mood {
  margin-left: 1rem;
}

.header-mood > button:hover {
  cursor: pointer;
}

.default-mood:hover {
  color: var(--black);
  box-shadow: inset 0 -1px 0 var(--black);
}
.curious-mood:hover {
  color: var(--curious);
  box-shadow: inset 0 -1px 0 var(--curious);
}
.openminded-mood:hover {
  color: var(--openminded);
  box-shadow: inset 0 -1px 0 var(--openminded)
}
.enthusiastic-mood:hover {
  color: var(--enthusiastic);
  box-shadow: inset 0 -1px 0 var(--enthusiastic)
}

.default-active{
  color: var(--black);
  box-shadow: inset 0 -2px 0 var(--black) !important;
}
.curious-active{
  color: var(--curious);
  box-shadow: inset 0 -2px 0 var(--curious) !important;
}
.openminded-active{
  color: var(--openminded);
  box-shadow: inset 0 -2px 0 var(--openminded) !important;
}
.enthusiastic-active{
  color: var(--enthusiastic);
  box-shadow: inset 0 -2px 0 var(--enthusiastic) !important;
}

.theme-icon {
  height: 1.2rem;
  position: relative;
  top: 12%;
  fill: var(--black);
  transform: rotate(40deg)
}

.theme-button:hover .theme-icon {
  animation: flip 0.2s;
  will-change: animation;
}

.theme-button {
  margin-right: 0;
  margin-left: 0;
  padding: 0 1rem 0 2.5rem;
  transition: animation;
}

@media only screen and (max-width: 610px) {
  .header-title > div {
    font-size: 1.7rem !important;
  }
  .header-buttons {
    padding-top: 0.6rem;
    flex-flow: column nowrap;
  }
  .header-mood {
    font-size: 0.9rem;
    padding-bottom: 0.1rem;
  }
  .header-mood > button:last-of-type {
    margin-right: 0;
  }
  .header-mood > button:first-of-type {
    margin-left: 0;
  }
}
