.highlight-container {
  display: flex;
  flex-flow: column nowrap;
  /* padding: 1rem; */
  height: min-content;
  /* padding-bottom: 2rem; */
}

.highlight-container > div > div {
  margin-bottom: 1rem;
}

.highlight-container:last-of-type {
 margin-bottom: 1rem;
}

.highlight-enthusiastic {
  box-shadow: 9px 10px 0 var(--enthusiastic-smoke);
  border:  2px solid  var(--enthusiastic-smoke);
}
.highlight-curious {
  box-shadow: 9px 10px 0 var(--curious-smoke);
  border:  2px solid  var(--curious-smoke);
}
.highlight-openminded {
  box-shadow: 9px 10px 0 var(--openminded-smoke);
  border:  2px solid  var(--openminded-smoke);
}
