svg.social-icon {
  fill: var(--black)
}

svg:hover.linkedin {
  transition: 0.1s all;
  fill: #2867b2
}

svg:hover.twitter {
  transition: 0.1s all;
  fill: #00acee
}

svg:hover.medium {
  transition: 0.1s all;
  fill: #00AB6B
}

svg:hover.github {
  transition: 0.1s all;
  fill: var(--github-icon)
}

.social-icon {
  height: 1.5rem;
}
/* This is needed to be able to animate the links */
.social-link {
  display: inline-block;
}
.social-link:hover {
  animation: miniLift 0.1s;
}

.tech-icon {
  transition: 0.2s all;
  height: 1.2rem
}

@media only screen and (max-width: 580px) {
  .social-icon {
    height: 1.2rem;
  }
}

