.job-dates {
  font-size: 1.2rem;
  font-style: italic;
}

.job-role {
  font-weight: bold;
  font-size: 1.1rem;
}

.job-tech {
  margin-left: -0.3em;
  padding: 0.5em 0;
  display: flex;
  flex-flow: row wrap;
}

.jobthings {
  margin-bottom: 0.5rem;
}
