.job-container:not(:last-child) {
  border-bottom: 2px solid var(--black);
  padding-bottom: 1em;
}

.job-container:not(:first-of-type) {
  padding-top: 1em;
}

.job-container > p {
  margin-bottom: 0;
}

.job-dates {
  font-size: 0.9rem;
  font-style: italic;
}

.job-role {
  font-weight: bold;
  font-size: 1.1rem;
}

.job-tech {
  margin-left: -0.3em;
  padding: 0.5em 0;
}
