
.mood-container {
  transition: 0.1s ease-in-out
}

.enthusiastic{
  color: #E17701;
  animation: rumble 0.1s linear;
  animation-iteration-count: 5;
}
.enthusiastic:hover {
  animation: rumble 0.1s infinite linear;
}

.openminded {
  color: #6241C7;
  animation: lift 0.7s;
}
.openminded:hover {
  animation: lift infinite 0.7s;
}

.curious {
  color: #10A674;
  animation: floaty 1.3s linear;
}
.curious:hover {
  animation: floaty 1.3s infinite linear;
}
