
.pill {
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
  margin: 0.5rem;
  transition: 0.2s ease-in-out;
  height: fit-content;
}

.pill-head {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.2em;
  width: fit-content;
  font-weight: bold;
}

.pill-name {
  padding-left: 0.5em;
  font-size: 1.1rem
}

.pill-details {
  overflow: hidden;
  color: var(--black);
  max-height: 0;
  max-width: 0;
  transition: max-height 0.1s, max-width 0.1s !important;
  display: flex;
  flex-flow: column nowrap;
}

.open .pill-details {
  margin: 0 0.5em 0.5em 0.5em;
  max-height: 250px;
  max-width: 500px;
  transform-origin: top;
  transition: max-height 0.2s, max-width 0.1s !important;
  animation: scaleIn 0.1s !important;
}

.close .pill-details {
  visibility: hidden;
}

.typescript-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.typescript-pill .typescript-icon {
  fill: var(--black);
}
.typescript-pill:hover {
  border: 2px solid var(--typescript);
  color: var(--typescript);
  box-shadow: 4px 6px 0px var(--typescript);
}
.typescript-pill:hover .typescript-icon {
  fill: var(--typescript);
}
.open.typescript-pill {
  border: 2px solid var(--typescript);
  color: var(--typescript);
  box-shadow: 4px 6px 0px var(--typescript);
}
.open.typescript-pill .typescript-icon {
  fill: var(--typescript);
}

.react-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.react-pill .react-icon {
  fill: var(--black);
}
.react-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--react);
  color: var(--react);
  box-shadow: 4px 6px 0px var(--react);
}
.react-pill:hover .react-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--react);
}
.open.react-pill {
  border: 2px solid var(--react);
  color: var(--react);
  box-shadow: 4px 6px 0px var(--react);
}
.open.react-pill .react-icon {
  fill: var(--react);
}

.redux-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.redux-pill .redux-icon {
  fill: var(--black);
}
.redux-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--redux);
  color: var(--redux);
  box-shadow: 4px 6px 0px var(--redux);
}
.redux-pill:hover .redux-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--redux);
}
.open.redux-pill {
  border: 2px solid var(--redux);
  color: var(--redux);
  box-shadow: 4px 6px 0px var(--redux);
}
.open.redux-pill .redux-icon {
  fill: var(--redux);
}

.webpack-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.webpack-pill .webpack-icon {
  fill: var(--black);
}
.webpack-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--webpack);
  color: var(--webpack);
  box-shadow: 4px 6px 0px var(--webpack);
}
.webpack-pill:hover .webpack-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--webpack);
}
.open.webpack-pill {
  border: 2px solid var(--webpack);
  color: var(--webpack);
  box-shadow: 4px 6px 0px var(--webpack);
}
.open.webpack-pill .webpack-icon {
  fill: var(--webpack);
}

.git-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.git-pill .git-icon {
  fill: var(--black);
}
.git-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--git);
  color: var(--git);
  box-shadow: 4px 6px 0px var(--git);
}
.git-pill:hover .git-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--git);
}
.open.git-pill {
  border: 2px solid var(--git);
  color: var(--git);
  box-shadow: 4px 6px 0px var(--git);
}

.open.git-pill .git-icon {
  fill: var(--git);
}

.docker-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.docker-pill .docker-icon {
  fill: var(--black);
}
.docker-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--docker);
  color: var(--docker);
  box-shadow: 4px 6px 0px var(--docker);
}
.docker-pill:hover .docker-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--docker);
}
.open.docker-pill {
  border: 2px solid var(--docker);
  color: var(--docker);
  box-shadow: 4px 6px 0px var(--docker);
}
.open.docker-pill .docker-icon {
  fill: var(--docker);
}

.javascript-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.javascript-pill .javascript-icon {
  fill: var(--black);
}
.javascript-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--javascript);
  color: var(--javascript);
  box-shadow: 4px 6px 0px var(--javascript);
}
.javascript-pill:hover .javascript-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--javascript);
}
.open.javascript-pill {
  border: 2px solid var(--javascript);
  color: var(--javascript);
  box-shadow: 4px 6px 0px var(--javascript);
}
.open.javascript-pill .javascript-icon {
  fill: var(--javascript);
}

.sass-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.sass-pill .sass-icon {
  fill: var(--black);
}
.sass-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--sass);
  color: var(--sass);
  box-shadow: 4px 6px 0px var(--sass);
}
.sass-pill:hover .sass-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--sass);
}
.open.sass-pill {
  border: 2px solid var(--sass);
  color: var(--sass);
  box-shadow: 4px 6px 0px var(--sass);
}
.open.sass-pill .sass-icon {
  fill: var(--sass);
}

.node-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.node-pill .node-icon {
  fill: var(--black);
}
.node-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--node);
  color: var(--node);
  box-shadow: 4px 6px 0px var(--node);
}
.node-pill:hover .node-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--node);
}
.open.node-pill {
  border: 2px solid var(--node);
  color: var(--node);
  box-shadow: 4px 6px 0px var(--node);
}
.open.node-pill .node-icon {
  fill: var(--node);
}

.circleci-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.circleci-pill .circleci-icon {
  fill: var(--black);
}
.circleci-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--circleci);
  color: var(--circleci);
  box-shadow: 4px 6px 0px var(--circleci);
}
.circleci-pill:hover .circleci-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--circleci);
}
.open.circleci-pill {
  border: 2px solid var(--circleci);
  color: var(--circleci);
  box-shadow: 4px 6px 0px var(--circleci);
}

.open.circleci-pill .circleci-icon {
  fill: var(--circleci);
}
.css-pill {
  border: 2px solid var(--black);
  background-color: var(--white)
}
.css-pill .css-icon {
  fill: var(--black);
}
.css-pill:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid var(--css);
  color: var(--css);
  box-shadow: 4px 6px 0px var(--css);
}
.css-pill:hover .css-icon  {
  transition: 0.2s ease-in-out;
  fill: var(--css);
}
.open.css-pill {
  border: 2px solid var(--css);
  color: var(--css);
  box-shadow: 4px 6px 0px var(--css);
}
.open.css-pill .css-icon {
  fill: var(--css);
}
